<div id="fullCalendar"></div>

<script>
	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'es',
      header: {
        left: 'title',
        center: '',
        right: 'prev,today,next month,basicWeek,basicDay'
      },
      eventRender: function( event, element, view ){
        var position_json = {};
        if (
          view == 'listWeek' ||
          view == 'month' ||
          event.allDay == true
        ){
          position_json = {
              my: 'top center',  // Position my top center...
              at: 'bottom center', // at the bottom center of...
          }
        }
        else{
          position_json = {
              my: 'left top',  // Position my left top...
              at: 'right top', // at the bottom right top...
          }
        }
        element.qtip({
          content: event.tooltip,
          style: {
            classes: 'qtip-shadow'
          },
          position: position_json,
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
